include McStasScript_documentation.pdf
include mcstasscript/configuration.yaml
include mcstasscript/tests/test_for_reading.comp
graft mcstasscript/tests/dummy_mcstas
graft mcstasscript/tests/test_data_set
